<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Bancário</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/banco.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header class="container">
        <div class="title">
            <a href="{% url 'inicio' %}">
                <img src="{% static 'core/img/logo.png' %}" alt="Logo">
            </a>
        </div>
        <nav class="nav-bar">
            <ul class="list-menu">
                <li><a href="{% url 'inicio' %}">Início</a></li>
                <li><a href="{% url 'controle.f' %}">Finanças Pessoais</a></li>
                <li><a href="{% url 'pnegocios' %}">Pequenos Negócios</a></li>
            </ul>
            <li class="User-Menu">
                <a href="#" id="user-icon"><i class="fa-solid fa-user"></i></a>
                <ul class="dropdown" id="user-dropdown">
                    <li class="user-men"><a href="{% url 'perfil' %}">Editar Perfil</a></li>
                    <br>
                    <hr>
                    <li class="user-men"><a href="{% url 'adicionar_c' %}">Adicionar Conta</a></li>
                    <br>
                    <hr>
                    <li class="user-men"><a href="{% url 'banco' %}">Configurações do Banco</a></li>
                    <br>
                    <hr>
                    <li class="user-men"><a href="{% url 'recsenha' %}">Esqueci Minha Senha</a></li>
                    <br>
                    <hr>
                    <li class="user-men"><a href="{% url 'suporte' %}">Suporte</a></li>
                    <br>
                    <hr>
                    <li class="user-men"><a href="{% url 'inicio' %}">Sair</a></li>
                </ul>
            </li>
        </nav>
    </header>

    <div class="conteiner">
        <h1>Informações Bancárias</h1>

        <form id="formBancario">
            <!-- Banco -->
            <div class="form-group">
                <label for="banco">Selecione o Banco:</label>
                <select id="banco" name="banco" onchange="mostrarOutroBanco()">
                    <option value="">Escolha o Banco</option>
                    <option value="Banco do Brasil">Banco do Brasil</option>
                    <option value="Santander">Santander</option>
                    <option value="Caixa Econômica Federal">Caixa Econômica Federal</option>
                    <option value="Bradesco">Bradesco</option>
                    <option value="Itaú">Itaú</option>
                    <option value="Banco Citibank">Banco Citibank</option>
                    <option value="Sicredi">Sicredi</option>
                    <option value="HSBC">HSBC</option>
                    <option value="Banco de Brasília (BRB)">Banco de Brasília (BRB)</option>
                    <option value="Banco Safra">Banco Safra</option>
                    <option value="Banco da Amazônia">Banco da Amazônia</option>
                    <option value="Banrisul">Banrisul</option>
                    <option value="Banpará">Banpará</option>
                    <option value="Banco do Nordeste do Brasil (BNB)">Banco do Nordeste do Brasil (BNB)</option>
                    <option value="Banco do Estado do Rio de Janeiro (BERJ)">Banco do Estado do Rio de Janeiro (BERJ)</option>
                    <option value="Banco Inter">Banco Inter</option>
                    <option value="Banco Modal (ModalMais)">Banco Modal (ModalMais)</option>
                    <option value="Nubank">Nubank</option>
                    <option value="Banco Neon">Banco Neon</option>
                    <option value="C6 Bank">C6 Bank</option>
                    <option value="Banco Original">Banco Original</option>
                    <option value="Mercado Pago">Mercado Pago</option>
                    <option value="Ame Digital">Ame Digital</option>
                    <option value="PagBank">PagBank</option>
                    <option value="PicPay">PicPay</option>
                    <option value="BS2">BS2</option>
                    <option value="Banco Digio">Banco Digio</option>
                    <option value="Gerencianet">Gerencianet</option>
                    <option value="Banco Cora">Banco Cora</option>
                    <option value="Banco Next">Banco Next</option>
                    <option value="Banco Pan">Banco Pan</option>
                    <option value="Banco Modal">Banco Modal</option>
                    <option value="Sicoob">Sicoob</option>
                    <option value="Banco Mercantil do Brasil">Banco Mercantil do Brasil</option>
                    <option value="Outro Banco">Outro Banco</option>
                </select>
            </div>

            <div class="form-group" id="outroBanco" style="display:none;">
                <label for="outroBancoInput">Informe o Nome do Banco:</label>
                <input type="text" id="outroBancoInput" name="outroBanco" placeholder="Digite o nome do banco">
            </div>

            <!-- Agência -->
            <div class="form-group">
                <label for="agencia">Número da Agência:</label>
                <input type="text" id="agencia" name="agencia" placeholder="Digite o número da agência" maxlength="4" required>
            </div>

            <!-- Conta -->
            <div class="form-group">
                <label for="conta">Número da Conta:</label>
                <input type="text" id="conta" name="conta" placeholder="Digite o número da conta" maxlength="12" required>
            </div>

            <!-- Autenticação -->
            <div class="form-group">
                <label for="autenticacao">Código de Autenticação:</label>
                <input type="password" id="autenticacao" name="autenticacao" placeholder="Digite o código de autenticação" required>
            </div>

            <!-- Botões -->
            <button type="button" id="enviarBtn">Enviar</button>
            <a href="{% url 'inicio2' %}">
                <button type="button" class="voltar">Voltar para a Home</button>
            </a>
        </form>

        <!-- Resultado -->
        <div id="resultado" style="display:none;">
            <h2>Informações Digitadas</h2>
            <p><strong>Banco Selecionado:</strong> <span id="resultadoBanco"></span></p>
            <p><strong>Agência:</strong> <span id="resultadoAgencia"></span></p>
            <p><strong>Conta:</strong> <span id="resultadoConta"></span></p>
            <p><strong>Código de Autenticação:</strong> <span id="resultadoAutenticacao"></span></p>
        </div>
    </div>

    <div id="feedback-wrapper">
        <button id="feedback-btn">Deixe seu Feedback</button>

        <div id="feedback-form-container">
            <h2>Nos envie seu feedback!</h2>
            <textarea id="feedback-text" placeholder="Digite seu feedback aqui..."></textarea>
            <button id="submit-feedback">Enviar</button>
            <button id="close-feedback">Fechar</button>
        </div>
    </div>
    <script>
        function mostrarOutroBanco() {
            const banco = document.getElementById('banco').value;
            const outroBanco = document.getElementById('outroBanco');
            if (banco === 'Outro Banco') {
                outroBanco.style.display = 'block';
            } else {
                outroBanco.style.display = 'none';
            }
        }

        document.getElementById('enviarBtn').addEventListener('click', function() {
            const banco = document.getElementById('banco').value;
            const agencia = document.getElementById('agencia').value;
            const conta = document.getElementById('conta').value;
            const autenticacao = document.getElementById('autenticacao').value;

            document.getElementById('resultadoBanco').textContent = banco;
            document.getElementById('resultadoAgencia').textContent = agencia;
            document.getElementById('resultadoConta').textContent = conta;
            document.getElementById('resultadoAutenticacao').textContent = autenticacao;

            document.getElementById('resultado').style.display = 'block';
        });
    </script>
</body>
</html>
    <script src="{% static 'core/scripts/banco.js' %}"></script>