<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de Conta</title>
    <!-- Carregando CSS via Django static -->
    <link rel="stylesheet" href="{% static 'core/css/altsenha.css' %}"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
   
    <header>
        <div class="container">
            <h1>Recuperação de Conta</h1>
        </div>
    </header>

    <main>
        <section id="esqueci-senha">
            <h2>Esqueci minha senha</h2>
            <form id="form-esqueci-senha" method="POST" action="{% url 'recsenha' %}">
                {% csrf_token %}
                <label for="email-recuperacao">Informe Seu Email/Celular:</label>
                <input type="email" id="email-recuperacao" name="email_recuperacao" placeholder="Digite Seu Email/Celular" required>
                <button type="submit">Enviar link de recuperação</button>
            </form>
        </section>
    </main>

    <!-- Se o script for necessário, inclua ele via static também -->
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
