@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --fonte-titulo: "Montserrat", sans-serif;
    --fonte-texto: "Roboto", sans-serif;
}
.container {
    background-image: url(../img/graphic-2d-colorful-wallpaper-with-grainy-gradients.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
}

.nav-bar {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-grow: 1; 
}

.list-menu a {
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
}

.list-menu a:hover {
    background-color: #2fa866;
}

.user-menu {
    position: absolute; 
    top: 0; 
    right: 0; 
    text-align: left;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #000;
}

.list-menu {
    display: flex; 
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.list-menu li {
    display: inline-block;
    margin-right: 20px; 
}

.list-menu a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    display: block;
    transition: transform 0.2s ease-in-out;
    /* font-family: "Montserrat", sans-serif; */
    font-family: var(--fonte-titulo);
}

.list-menu a:hover {
    transform: translateY(-10px); 
}

a {
    color: #000;
}

img {
    width: 250px;
    height: 250px;
}

.dropdown {
    display: none; 
    list-style: none;
    position: absolute;
    background: #fff;
    border: 10px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #000;
}

.User-Menu {
    position: relative;
}

.User-Menu {
    position: absolute;
    right: 30px;
    top: 20px; 
}

i {
    color: #fff;
}

.User-Menu ul.dropdown {
    display: none; 
    gap: 40px;
    position: absolute;
    left: -200px;
    top: 100%; 
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px; 
    padding: 10px;
    list-style: none;
    text-align: center;
    justify-content: center;
    transition: transform 1s ease; 
}

.User-Menu a {
    display: inline-block;
    transition: transform 0.2s ease-in-out; 
}

.User-Menu a:hover {
    transform: scale(1.1); 
}

/* Animação do carrossel da direita para a esquerda */
@keyframes slideRightToLeft {
    0% {
        transform: translateX(100%); /* Inicia fora da tela, à direita */
    }
    25% {
        transform: translateX(0); /* Move para a posição inicial */
    }
    50% {
        transform: translateX(-100%); /* Move uma imagem para a esquerda */
    }
    75% {
        transform: translateX(-200%); /* Move a segunda imagem para a esquerda */
    }
    100% {
        transform: translateX(100%); /* Retorna para a posição inicial para o loop */
    }
}

/* Centralizando o conteúdo */
#conteudo {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os itens ao centro (carrossel e texto) */
    justify-content: center;
    text-align: center; /* Alinha o texto ao centro */
    padding: 20px;
}

#conteudo h2, h3 {
    font-size: 25px;
    margin: 15px; 
    font-family: var(--fonte-titulo);
}

#conteudo p {
    font-size: 1.1rem;
    font-family: var(--fonte-texto);
    text-align: justify;
    line-height: 1.6;
    color: #333;
    max-width: 800px; 
    /* Limita a largura do parágrafo */
    margin-top: 15px; /* Espaço acima do parágrafo */
    margin-bottom: 20px;
}

/* Feedback Form */
#feedback-wrapper button#feedback-btn{
    background-color: #004d7a;;
    color:white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s;
}

#feedback-wrapper button#feedback-btn:hover{
    background-color: #004d7a;
    transform: scale(1.05);
}

button#submit-feedback:hover{
    transform: scale(1.05);
}

button#close-feedback:hover{
    transform: scale(1.05);
}

#feedback-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

#feedback-wrapper:hover #feedback-form-container {
    opacity: 1;
    pointer-events: auto;
}

#feedback-form-container {
    display: block;
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #fff;
    padding: 20px;
    width: 260px;
    max-width: 90%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, pointer-events 0s 0.3s;
}

#feedback-form-container h2 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #333;
    font-family: Arial, sans-serif;
}

#feedback-text {
    width: 90%;
    height: 120px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    resize: none;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

#submit-feedback,
#close-feedback {
    background-color: #28a745;
    color: white;
    padding: 12px;
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#submit-feedback:hover {
    background-color: #218838;
}

#close-feedback {
    background-color: #dc3545;
}

#close-feedback:hover {
    background-color: #c82333;
}

#feedback-form-container.show {
    display: block;
    opacity: 1;
}

#feedback-form-container.hide {
    display: none;
    opacity: 0;
}

/* Responsividade */
@media (max-width: 768px) {
    header nav .list-menu {
        display: block;
        text-align: left;
    }

    header nav .list-menu li {
        display: block;
        margin-bottom: 10px;
    }

    main {
        padding: 1rem;
    }

    section {
        padding: 1.5rem;
    }
}

/* Conteúdo Tela de Início */
#financas {
    position: relative;
    padding: 50px 20px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.068);
    font-family: "Roboto serif", serif;
}

.parallax-container {
    position: relative;
    display: flex; /* Usando flexbox para colocar as colunas lado a lado */
    justify-content: space-between; /* Espaçamento entre as colunas */
    align-items: center; /* Alinha ambos verticalmente */
    gap: 40px; /* Espaçamento entre as colunas */
}

.content-wrapper {
    display: flex;
    flex-direction: row; /* Garante que o conteúdo e a imagem fiquem lado a lado */
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap;
}

.imagens-trio h2{
    font-size: 25px;
    margin: 15px; 
    padding-bottom: 25px;
    font-family: var(--fonte-titulo);
}

/* Primeira Coluna (Texto Justificado) */
.coluna-texto {
    flex: 1; /* A coluna de texto ocupa o espaço restante */
    text-align: justify; /* Justifica o texto */
    font-size: 16px;
    line-height: 1.6;
    font-family: var(--fonte-texto);
}
.coluna-texto h2{
    font-family: var(--fonte-titulo);
    margin-bottom: 15px;
    font-size: 25px;
}

/* Segunda Coluna (Imagem) */
.coluna-imagem {
    width: 50%;
    /* flex: 1; */
     /* A coluna de imagem ocupa o espaço restante */
    display: flex;
    justify-content: center; 
    /* Alinha a imagem ao centro */
    align-items: center;
}

.coluna-imagem img {
    /* max-width: 300vh;  */
    /* Faz a imagem se ajustar ao tamanho da coluna */
    /* height: 300% ;
    border-radius: 8px; */
    width: 70%;
    height: 300px;

}
.imagens-trio {
    padding: 40px 20px;
    text-align: center;
}

.imagens-trio h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.imagens-container {
    display: flex; /* Usando Flexbox para colocar as colunas lado a lado */
    justify-content: space-between;
    gap: 20px; /* Espaçamento entre as imagens */
    text-align: center;
}

.imagens-container img {
    width: 100%; /* Faz com que as imagens ocupem 100% da largura */
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.content{
    text-align: center;
    padding: 20px;
    font-family: var(--fonte-titulo);
    font-size: 15px;
}
.content p{
    padding: 5px;
    font-family: var(--fonte-texto);
}

/* Estilo do banner */
.banner {
  position: relative;
  width: 100%;
  height: 70vh; /* Diminui a altura do banner */
  /* overflow: hidden; */
}

/* Container das imagens do carrossel */
.banner-images {
  display: flex;
  width: 2%; /* Cada imagem ocupa 1/3 do total */
  animation: slideRightToLeft 12s infinite; /* A animação de transição entre imagens */
}

/* Ajusta o tamanho das imagens */
.banner-images img {
  width: 80vw; /* As imagens ocupam 80% da largura da tela, ao invés de 100vw */
  height: 70vh; /* Ajusta a altura das imagens para 70% da altura da tela */
  object-fit: cover; /* Garantir que as imagens cubram a tela sem distorcer */
}

/* Animação de rotação do banner */
@keyframes slideRightToLeft {
    /* Inicia fora da tela, à direita */
  0% {
    transform: translateX(100%); 
  }
  25% {
    transform: translateX(0); /* Move para a posição inicial */
  }
  50% {
    transform: translateX(-80vw); /* Move para a segunda imagem */
  }
  /* Move para a terceira imagem */
  /* 75% {
      transform: translateX(-160vw); 
    } */
  100% {
    transform: translateX(100%); /* Retorna para a posição inicial para o loop */
  }
}
